.heading{
    color: blue;
}
    

nav{
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;


}
.nav-links{
    padding-right: 20px;
    

}
.nav-links > a {
    text-decoration: none;
}
.btn{
    background-color: purple;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}




         
    
